button {
    background-color: var(--Black);
    color: var(--White);
    outline: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--DarkGrey);
}

.purchase {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 2.5rem;
}

.btnImage {
    height: 2rem;
    width: 2rem;
    padding: .5rem;
}