.logIn {
    align-self: flex-end;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: -3rem;
    width: 35rem; 
    height: 20rem;
    z-index: 2;
    box-shadow: .6rem .6rem .7rem -2px rgba(0,0,0,0.45);
}

.arrow-up {
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;  
    border-bottom: .8rem solid var(--White);
}

.overlay {
    position: fixed; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
  }

