/* Main scroll */
body::-webkit-scrollbar {
    width: .5rem !important;
    border-radius: 5rem;
}

body::-webkit-scrollbar-track {
    margin: .5rem;
    border-radius: 5rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--MediumGrey);
    border-radius: 5rem;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--DarkGrey);
}

/* CartList & Textarea scrollbar */
.cartList::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: .5rem !important;
    border-radius: 5rem;
}

.cartList::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
    margin: .5rem;
    border-radius: 5rem;
}

.cartList::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background: var(--LightGrey);
    border-radius: 5rem;
}

.cartList::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
    background: var(--MediumGrey);
}